body {
    font-family: "Futura", sans-serif;
    background-image: url('pilved.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}


/* Lisa rida " <link rel="stylesheet" href="stiil.css"> " oma .html faili headi. */