body {
    font-family: "Futura", sans-serif;
    background-image: url('pilved.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}
header {
    padding: 20px;
}
    
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
    
nav li {
    display: inline-block;
}
    
nav a {
    text-decoration: none;
    color: rgb(200, 195, 195);
    font-weight: bold;
    font-size: 16px;
    padding: 15px;
    border-radius: 5px;
    background-color: #555;
    margin-right: 40px;
}
    
nav a:hover {
    background-color: #777;
}
.laia-lingi-stiil {
    display: inline-block;
    width: 175px;
    padding: 10px;
    font-size: 18px;
    text-align: center;
    color: #000000;
    background-color: #8fb8e8;
    border: 5px solid #aadbff;
    border-radius: 15px;
}
footer {
    background-color: #fffafafa;
    border: 5px solid #fccccc;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 25px;
}