* {
   margin: 0;
   padding: 0;
   font-family: 'Poppins', sans-serif;
}

/* Navigatsiooniriba alamlehel */
.AlamlehePealkiri{
   width: 90%;
   color: #fff;
   margin-top: 50px;
   margin-bottom: 50px;
   top: 50%;
   left: 50%;
   text-align: center;
}
.AlamlehePealkiri h1{
   color: black;
   text-align: left;
   margin-top: 200px;
   margin-left: 50px;
}
.AlamlehePealkiri p{
   text-align: left;
   margin-left: 50px;
   color: black;
}


